<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工作台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="ibox ">
        <div class="ibox-title">
            <h1>项目介绍</h1>
        </div>
        <div class="ibox-content">
            <div class="signin-info">
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 欢迎使用 platform-generator 大平台代码生成工具</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 大平台代码生成工具，可在线生成controller、xml、dao、entity、service、html、js</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 大平台演示地址：<a href="http://47.100.0.48" target="_blank">http://47.100.0.48</a>  账号密码：admin/admin</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 大平台 Git：<a href="https://gitee.com/feixiangni/platform" target="_blank">https://gitee.com/feixiangni/platform</a></li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 代码生成工具 Git：<a href="https://gitee.com/fuyang_lipengjun/platform-generator" target="_blank">https://gitee.com/fuyang_lipengjun/platform-generator</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="ibox ">
        <div class="ibox-title">
            <h1>官方QQ群</h1>
        </div>
        <div class="ibox-content">
            <div class="signin-info">
                <ul>
                    <li><i class="fa fa-qq m-r-xs"></i><a href="https://jq.qq.com/?_wv=1027&k=5eblbmW" target="_blank" >66502035</a>(大平台系统开发)</li>
                </ul>
            </div>

        </div>
    </div>
</div>
</body>
</html>